body {
	background: #444;
	color: white;
	font-family: sans-serif;
	margin: 0px;
}

.foreground {
	position: absolute;
	left: 5px;
  overflow: hidden;
	right: 5px;
	text-align: center;
  top: 5px;
}

#overlay {
  background-color: rgba(50, 50, 50, 0.95);
  border-radius: 1em;
  bottom: 50px;
  color: yellow;
  font-size: 1.2em;
  left: 100px;
  overflow: scroll;
  padding: 25px 50px 25px 50px;
  position: absolute;
  right: 100px;
  top: 50px;
}

#overlay h1 {
  font-size: 1.5em;
  text-align: center;
}

.helplist {
  width: 100%;
}

.helplist dt, .helplist dd {
  padding-left: 2em;
  vertical-align: middle;
  white-space: nowrap;
}

.helplist dt {
  color: orange;
  float: left;
  font-weight: bold;
  width: 15%;
}

.helplist dd {
  margin-bottom: 0.5em;
  width: 80%;
}

.helpCallout {
  color: #e00;
  font-weight: bold;
}

#nav {
	display: inline;
	position: absolute;
	right: 0;
}

#nav button {
  margin: 0;
}

#close {
	position: absolute;
	right: -30px;
	top: -5px;
}

#header {
  height: 30px;
  text-align: left;
}

#progress {
	position: absolute;
	display: inline;
	left: 90px;
	right: 160px;
	height: 20px;
	margin-top: 1px;
	text-align: right;
}

#logo {
  margin-top: 20px;
}

.hide {
	display: none !important;
}

#mainText {
  text-align: left;
  width: 90%;
  position: relative;
  top: 10px;
  background: #ccc;
  color: black;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  word-wrap: break-word;
}


#filechooser {
	display: inline;
	position: absolute;
	color: transparent !important;
}

#filechooser {
  left: auto;
}
.webkit #filechooser {
	left: 0;
	right: auto;
}

#uploader {
	display: inline;
	left: 0;
	overflow: hidden;
	width: 89px;
	position: absolute;
	text-align: left;
	height: 30px;
}


#header.fullscreen {
  opacity: 0;
  position: absolute;
  top: 0;
  height: 30px;
  left: 0;
  right: 0;
  background-color: black;
  padding-bottom: 70px;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  background: -moz-linear-gradient(top, rgba(0,2,34,1) 0%, rgba(0,1,24,1) 30%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,2,34,1)), color-stop(30%,rgba(0,1,24,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,2,34,1) 0%,rgba(0,1,24,1) 30%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,2,34,1) 0%,rgba(0,1,24,1) 30%,rgba(0,0,0,0) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(0,2,34,1) 0%,rgba(0,1,24,1) 30%,rgba(0,0,0,0) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000222', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, rgba(0,2,34,1) 0%,rgba(0,1,24,1) 30%,rgba(0,0,0,0) 100%); /* W3C */
}

#header.fullscreen:hover {
  opacity: 1;
}

#header.preview {
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  transition: opacity 1s ease;
  opacity: 0.7;
}

#header.previewout {
  opacity: 0;
}

#library {
  border-color: grey;
  bottom: 30px;
  color: grey;
  cursor: pointer;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  margin-right: -316px;
  opacity: 0.875;
  position: absolute;
  right: 0px;
  top: 30px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-transition: margin-right .2s;
  transition: margin-right .2s;
  visibility: hidden;
}

#libraryTab {
  -ms-align-self: center;
  -webkit-align-self: center;
  align-self: center;
  background-color: black;
  border-color: inherit;
  border-radius: 5px 0 0 5px;
  border-style: solid;
  border-width: 1px;
  border-right: none;
  color: inherit;
  font-family: Cambria;
  font-size: 40px;
  height: 50px;
  margin-right: -1px;
  width: 30px;
  z-index: 100;
}

#libraryContents {
  background-color: black;
  border-color: inherit;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  color: inherit;
  height: 100%;
  overflow: scroll;
  padding: 10px;
  text-align: left;
  white-space: nowrap;
  width: 300px;
  z-index: 1;
}

#library:hover, #library.opened {
  border-color: yellow;
  color: yellow;
  margin-right: 0;
}

.libraryBook {
  border-bottom: solid 1px grey;
  border-top: solid 1px black;
  overflow: hidden;
  padding: 4px;
  text-overflow: ellipsis;
}

.libraryBook:hover {
  background-color: #444;
  border-bottom: solid 1px yellow;
  border-top: solid 1px yellow;
}

.libraryBook.current {
  background-color: #cc2929;
  border-bottom: solid 1px yellow;
  border-top: solid 1px yellow;
}

/* Menu styling */
/*
  border-radius: 5px;
*/
div#menu {
  display: inline-block;
  color: yellow;
  opacity: 0.875;
  position: absolute;
  text-align: left;
  z-index: 5;
}

.menuButton {
  background-color: black;
  border: solid 1px yellow;
  border-radius: 5px;
  color: yellow;
  display: block;
  text-decoration: none;
  width: 30px;
  height: 30px;
}

.menuButton:hover {
  background-color: #444;
}

.opened .menuButton {
}

ul.menuItems {
  background-color: black;
  border: solid 1px yellow;
  border-radius: 5px 5px 5px 5px;
  display: none;
  list-style: none;
  margin-top: 2px;
  opacity: 0.875;
  padding: 5px;
  position: absolute;
  width: 15em;
  z-index: -1;
}

.opened ul.menuItems {
  display: inline-block;
}

ul.menuItems li {
  padding: 2px 0 2px 0;
}

ul.menuItems li:hover {
  background-color: #444;
}

ul.menuItems li a {
  color: yellow;
  display: block;
  text-align: left;
  text-decoration: none;
}

#menu-open-local-files input {
  cursor: pointer;
  font-size: 1em;
  margin: 0;
  opacity: 0;
  position: absolute;
}