body {
	background: #222;
	color: white;
	font-family: sans-serif;
	margin: 0px;
}

.foreground {
	position: absolute;
	top: 10px;
	left: 20px;
	right: 20px;
	text-align:center;
}

#nav {
	display: inline;
	position: absolute;
	right: 0;
}

#close {
	position: absolute;
	right: -30px;
	top: -5px;
}

#uploader {
	display: inline;
}



#progress {
	position: absolute;
	display: inline;
	left: 100px;
	right: 100px;
	height: 20px;
	margin-top: 5px;
	text-align:right;
}

#mainImage {
  margin-top: 40px;
}

#logo {
  margin-top: 20px;
}


.hide {
	display: none !important;
}


#filechooser {
	display: inline;
	position: absolute;
	color: transparent !important;
	overflow: hidden;
	width: 100px;
}

