body {
	background: #222;
	color: white;
	font-family: sans-serif;
	margin: 0px;
}

div.foreground {
	position: absolute;
	top: 10px;
	left: 20px;
	right: 20px;
}

div#nav {
	display: inline;
	position: absolute;
	right: 0;
}

img#close {
	position: absolute;
	right: -30px;
	top: -5px;
}

form#uploader {
	display: inline;
}

#filechooser {
	color: white;
	display: inline;
	position: absolute;
}

div#nav.hide {
	display: none;
}


div#progress {
	position: absolute;
	display: inline;
	left: 250px;
	right: 100px;
	height: 20px;
	margin-top: 5px;
	text-align:right;
}

#mainImage {
  margin-top: 40px;
}

#logo {
  margin-top: 20px;
}
